@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html {
    font-family: 'Open Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    color: #333;
    line-height: 1;
    background: rgba(202, 224, 237, 0.93)
}
section{
    display: block;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
strong {
    font-weight: bold;
}
h1 {
    font-size: 2em;
    margin: 0 0 0.67em;
}
img {
    border: 0;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
a {
    color: #489fd0;
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0
}
header {   
    margin: 10% 0 0;
    text-align: center;
}
header h1 {
    font-weight: 300;
}
header p {
    color: #646464;
    font-size: 87.5%;
    padding-bottom: 14px;
}
header ul li {
    display: inline;
    padding: 0 15px;
}

/* Control the color of the icon when not hovered */
header ul li a {
    -webkit-transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    -o-transition: color 0.25s ease-in;
    -ms-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    color: #BBB;
}
/* Control the color of the icon when not hovered */
header ul li a:hover {
    -webkit-transition: color 0.25s ease-in;
    -moz-transition: color 0.25s ease-in;
    -o-transition: color 0.25s ease-in;
    -ms-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    color: #489fd0;
}