---
title: Nate Stewart | Computer Science &amp; Engineering | The Ohio State University
---

<div id="container">
    <div id="wrapper">
        <header>
            <a id="logo" href="/">Nate Stewart</a>
            <nav>
                <a class="active" href="/">Home</a>
                <a href="/resume/">Resume</a>
            </nav>
        </header>
        <article id="index">
        <h3>Hi there!</h3>
        </article>
        <div class="push">
        </div>
    </div>
    <footer>
        <p>Copyright © 2015 Nate Stewart. All rights reserved.</p>
    </footer>
</div>