---
title: Nate Stewart
---

<div id="container">
    <header id="wrapper">
        <h1>Nate<strong>Stewart</strong></h1>
        <p>Software Engineer &amp; Puzzle Aficionado</p>
        <p>"You don't need a flashy website to impress someone; you just need the right content displayed in the right way." ~Me</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/N8Stewart"><i class="fa fa-linkedin fa-2x"></i></a></li>
            <li><a href="mailto:Nate.Stewart23@gmail.com"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li><a href="https://github.com/N8Stewart"><i class="fa fa-github fa-2x"></i></a></li>
        </ul>
        <div class="push"></div>
    </header>
    <footer>
        <p>Copyright © 2015 Nate Stewart. All rights reserved.</p>
    </footer>
</div>